__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/
venv/
env/
obf/
.env
.env.*
.python-version
.coverage
.coverage.*
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml
*.log
logs/
.mypy_cache/
.pytype/
.pyre/
.DS_Store
.vscode/
.idea/
*.spec
node_modules/
*.db
.trae/
secret_key.py
pack.sh
gen_pyarmor.sh
nuitka-crash-report.xml
resources/version
